<section ng-controller="ActiveMQController">
	<div class="page-header">
		<h1>ActiveMQ</h1>
	</div>
	<div class="row">
		<form name="activemqForm" class="form" ng-submit="query()" novalidate>

			<fieldset>
				<div class="form-group col-md-3">
					<label class="control-label" for="host">Host</label>
					<div class="controls">
						<select name="host" ng-model="host" id="host" class="form-control" required placeholder="host">
							<option ng-repeat="host in hosts | orderBy" value="{{host}}">{{host}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="queue">Queue</label>
					<div class="controls">
						<select name="queue" ng-model="queue" id="queue" class="form-control" required>
							<option ng-repeat="queue in queues | orderBy" value="{{queue}}">{{parseQueueName(queue)}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-3">
					<button type="submit" class="btn btn-default">Execute</button>
				</div>
				<!--
				<div class="form-group">
					<label class="control-label" for="collection">Collection</label>
					<div class="controls">
						<select name="collection" ng-model="collection" id="collection" class="form-control" required>
							<option ng-repeat="collection in collections | orderBy" value="{{collection}}">{{collection}}</option>
						</select>
					</div>
				</div>
				-->
			</fieldset>
		</form>
	</div>
	<div class="row" data-ng-if="results">
		<code>{{results}}</code>
	</div>

</section>
